body {
  background: rgb(240, 240, 240); /* Fallback background. */
  background: rgba(240, 240, 240, 0.9);
}

.post {
  box-shadow: 0 0 8px rgba(10, 9, 102, 0.6);
  margin-top: 20px;
  padding: 5px;
}

.author {
  align-items: center;
  border-bottom: 1px solid #0a0966;
  display: flex;
  padding: 10px 0;
}

.author-avatar {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.author-name {
  padding-left: 10px;
}

.post-image {
  width: 100%;
}

.post-actions {
  border-bottom: 1px solid #0a0966;
  border-top: 1px solid #0a0966;
  display: flex;
  justify-content: space-between; /* Fallback */
  justify-content: space-evenly;
}

.reaction,
.comment,
.share {
  cursor: pointer;
  padding: 10px 5px;
  transition: color 0.8s;
}

.reaction:hover,
.comment:hover,
.share:hover {
  color: #000ddd;
}

.active,
.active:hover {
  color: #296127;
}

.post-comment {
  border-bottom: 1px solid #0a0966;
  padding: 5px;
}

.comment-author {
  align-items: center;
  display: flex;
}

.comment-author img {
  border-radius: 50%;
  height: 40px;
  margin-right: 5px;
  width: 40px;
}

.comment-text {
  padding: 5px 0;
}

.comment-reaction {
  display: flex;
  padding: 2px 0;
}

.comment-like {
  margin-right: 30px;
}

.comment-like:hover,
.comment-dislike:hover {
  color: green;
  cursor: pointer;
}

.comment-action {
  align-items: baseline;
  display: flex;
  justify-content: flex-start;
  padding: 2px 0;
}

.comment-action-edit,
.comment-action-delete {
  color: #000ddd;
  font-size: 0.8em;
  margin-right: 3px;
}

.comment-action-edit:hover,
.comment-action-delete:hover {
  cursor: pointer;
  text-decoration: underline;
}

.post-comments {
  display: flex;
  flex-direction: column;
}

.previous-comments,
.next-comments {
  font-size: 0.9em;
  padding: 5px 0;
  text-align: center;
}

.previous-comments:hover,
.next-comments:hover {
  color: #000ddd;
  cursor: pointer;
  text-decoration: underline;
}

.create-comment {
  align-items: center;
  display: flex;
  justify-content: space-between; /* Fallback. */
  justify-content: space-evenly;
  padding-top: 15px;
}

.create-comment img {
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

.create-comment-text {
  border: 1px solid lightgray;
  border-radius: 20px;
  flex: 2;
  font-size: 0.9em;
  margin: 0 5px;
  padding: 8px;
  transition: border 1s;
}

.create-comment-text:hover {
  border: 1px solid #0a0966;
}

.create-comment-button {
  background: #0a0966;
  border: none;
  border-radius: 20px;
  color: white;
  cursor: pointer;
  padding: 10px;
  transition: background-color 1s;
}

.create-comment-button:hover {
  background-color: #000ddd;
}
