* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-image: url("../images/background.jpeg");
  background-attachment: fixed;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  font-family: Arial, Helvetica, sans-serif;
  color: #0a0966;
}

.fixed {
  overflow: hidden;
}

.main-content {
  width: 90%;
  margin: auto;
  margin-top: 5%;
  border-radius: 6px;
  background: rgba(240, 240, 240, 0.9);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
}

.column {
  flex: 1;
  display: flex;
}

.title {
  text-align: center;
}

.value-statement {
  margin: auto;
}

.first {
  font-size: 1.1em;
}

.second {
  border-left: 1px solid #0a0966;
}

.signup {
  flex: 1;
  margin: auto;
}

.signup-form {
  padding: 10px 20%;
}

input {
  font-size: 0.9em;
  display: block;
  color: #0a0966;
  width: 100%;
  border: 1px solid lightgray;
  padding: 10px;
  border-radius: 6px;
  transition: border 1s;
}

input:hover {
  border: 1px solid #0a0966;
}

input[type="submit"] {
  background-color: #040559;
  border: none;
  color: white;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 1s;
}

input[type="submit"]:hover {
  background-color: #000ddd;
}

.footer-text {
  text-align: center;
  font-size: 0.9em;
}

.footer-text button {
  padding: 5px 8px;
  background: #115119;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 1s;
}

.footer-text button:hover {
  background-color: #1e842a;
}

/* Adjust dimensions for smartphone screen sizes. */
@media only screen and (max-width: 600px) {
  .main-content {
    width: 100%;
    flex-direction: column;
  }

  .second {
    border-left: none;
    border-top: 1px solid #0a0966;
  }

  form {
    padding: 10px 10%;
  }
}

/* Adjust dimensions for tablet screen sizes. */
@media only screen and (min-width: 600px) and (max-width: 800px) {
  .main-content {
    flex-direction: column;
  }

  .second {
    border-left: none;
    border-top: 1px solid #0a0966;
  }
}
