.login-modal {
  background: rgb(0, 0, 0); /* Fallback background. */
  background: rgba(0, 0, 0, 0.8);
  height: 100%;
  left: 0;
  opacity: 0;
  overflow: scroll;
  position: fixed;
  top: 0;
  transition: visibility 0s linear 0.6s, opacity 0.6s linear;
  visibility: hidden;
  width: 100%;
}

.show-modal {
  opacity: 1;
  transition: opacity 0.6s linear;
  visibility: visible;
}

.login-modal-content {
  animation: slide-up 0.6s;
  animation-fill-mode: forwards;
  background: rgb(240, 240, 240); /* Fallback background. */
  background: rgba(240, 240, 240, 0.9);
  border-radius: 6px;
  margin: auto;
  padding: 10px;
  width: 30%;
}

@keyframes slide-up {
  from {
    margin-top: 10%;
    transform: scale(1);
  }
  to {
    margin-top: 0;
    transform: scale(1.1);
  }
}

.show-login-modal-content {
  animation: slide-down 0.6s;
  animation-fill-mode: forwards;
}

@keyframes slide-down {
  from {
    margin-top: 0;
    transform: scale(1.1);
  }
  to {
    margin-top: 10%;
    transform: scale(1);
  }
}

.login-form {
  padding: 0 5%;
}

.close-button {
  cursor: pointer;
  font-size: 2em;
  transition: color 0.5s;
}

.close-button:hover {
  color: red;
}

.login-modal-content .title {
  margin-top: 0;
}

/* Adjust modal width for smartphone screen sizes. */
@media only screen and (max-width: 600px) {
  .login-modal-content {
    width: 90%;
  }
}

/* Adjust modal width for tablet screen sizes. */
@media only screen and (min-width: 600px) and (max-width: 800px) {
  .login-modal-content {
    width: 50%;
  }
}

.password-reset-dialog {
  position: fixed;
  text-align: center;
  top: 0;
  transition: top 0.5s linear;
  visibility: hidden;
  width: 100%;
}

.password-reset-message {
  background-color: #9ea10a;
  border-radius: 5px;
  opacity: 0;
  padding: 8px;
  transition: opacity 0.5s linear;
}

.show-reset-dialog {
  top: 4%;
  visibility: visible;
}

.show-reset-message {
  opacity: 1;
}
